body{
    font-family: 'Minecraft';
    background-image : url('images/stoneBlock.jpg');
    background-size: 50px 50px;
    margin: auto;
    padding: 0;
    text-align: center;
}

header{
    background-image : url('images/dirtBlock.jpeg');
    background-size: 50px 50px;
    height: 80px;
}

main{
    padding: 30px;
}

h1{
    color:white;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    display: table;
    background-image : url('images/grassBlock.jpg');
    background-size: 50px;
}

h2,h3,h4,h5,h6{
    color: white;
    font-weight: bold;
    margin: 30px auto;
    background-image : url('images/dirtBlock.jpeg');
    background-size: 50px;
    display: table;
    padding: 20px;
    font-size: 35px;
}

@font-face{
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
}

.subcaption{
    padding: 10px;
    display: table;
    margin: auto;
    background-image: url(images/diamond.jpg);
    background-size: 20px;
}
.logo{
    height: 60px;
    width: 500px;
    padding: 10px 20px;
    float: left;
}

.navLinks{
    padding: 25px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navLinks:hover{
    color: black;
}

.navBar{
    display: flex;
}

.video{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

audio{
    margin: 20px;
}

dialog{
    background-image: url(images/Minecraft-Glowstone.jpg);
    background-size: 50px 50px;
    color: black;
    font-weight: bold;
    font-size: 50px
}

.paragraph{
    display: table;
    background-image: url('images/oakplanks.png');
    padding: 30px;
    margin: 10px auto;
    background-size: 25px 25px;
    font-size: 23px;
    max-width: 800px;
    line-height: 1.6;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
}

.herobrine{
    margin: 40px auto;
    background-image: url('images/steve.png');
    background-size: cover;
    width: 350px;
    height: 350px;
    border: none;
}

.herobrine:hover{
    margin: 40px auto;
    background-image: url('images/herobrine.png');
    background-size: cover;
    width: 350px;
    height: 350px;
    border: none;
    filter: brightness(0.6);
}

.question {
    color: beige
}